<header>
    <div>{{title}}</div>
    <app-button color="{{showAddTask ? 'red': 'green'}}" 
    text="{{showAddTask ? 'Close': 'Add'}}" 
    (btnClick)="toggleAddTask()">
    </app-button> 
</header>
<app-tasks></app-tasks>